<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <div class="cart_box">
      <h3 style="margin-bottom: 18.720px; margin-top: 18.720px;">Carrito</h3>
      <p style="margin-bottom: 0px; margin-top: 0px;  font-weight: 100;">————————————————</p>
        <ul style="padding-left: 0px;  list-style-type: none; margin-bottom: 0;">
            <% cart.forEach(item => { %>
              <li>
                <img class="fotito3" src="/img/products/<%= item.image %>" alt="<%= item.prod_name %>" width="100">
                <p>Producto: <%= item.prod_name %></p>
                <p>Marca: <%= item.brand %></p>
                <p>Precio: $<%= item.price %></p>
                <p>Cantidad: <%= item.quantity %></p>
                <p>Total: $<%= item.total %></p>
                <form action="/product/cart-del" method="POST">
                  <input type="hidden" name="productId" value="<%= item.id %>">
                  <button style="margin-bottom: 20px;" class="boton-comprar" type="submit">Eliminar</button>
                  <p style="margin-top: 0px; font-weight: 100;">————————————————</p>
                </form>
              </li>
            <% }) %>
          </ul>
          <h1>TOTAL: <%= cartTotal %></h1>
          <form action="/product/pay" method="get">
            <input type="hidden" name="total" value="<%= cartTotal %>" >
            <button style="margin-bottom: 20px; margin-top: 12px;" class="boton-comprar" type="submit">PAGAR</button>
          </form>
    </div>
    <%- include("../partials/footer") %>
</body>
</html>