<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>
    <div class="contenedor">
        <div class="barra">
            <i class="fa-solid fa-magnifying-glass"></i>
            <p class="p1">Tu próximo par te espera...</p>

        </div>
    </div>

    <div class="banner">
        ACA VA EL BANNER

    </div>
    
        <div>
            <% products.forEach(products => { %>
            <article class="caja-producto">
                <picture class="foto-producto">
                    <img class="foto-producto" src="/img/products/<%= products.image %>" alt="<%= products.prod_name %>" class=""
                        width="150px" />
                </picture>
            
                <section class="descripcion-producto">
                    <section class="descripcion">
                        <p class="titulo-show"><%= products.prod_name %></p>
                        <p class="lugar-show">$<%= products.price %></p>
                    </section>
                </section>
            
                <a href="/products/<%= products.id %>/detail">
                    <button class="boton-comprar">
                        COMPRAR<i class="ticket-botoncomprar fas fa-ticket-alt"></i>
                    </button>
                </a>
            </article>
            <% }) %>
        </div>
    
</body>

</html>