<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/5adb87e91f.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/5adb87e91f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title><%= prod.prod_name %></title>
    </head>
<body>
    <%- include("../partials/header") %>
    <div class="productos">
        <div class="descripcion_producto">
            <img src="/img/products/<%= prod.image %>" alt="imagenlol" width="400px">
            <p style="font-size: 35px;"><%= prod.prod_name %></p>
            <p style="font-size: 25px;">Marca: <%= prod.brand %></p>
            <h4 style="font-size: 25px;">$ <%= prod.price %></h4>
            <h5 style="font-size: 20px;">Disponibles: <%= prod.stock %></h5>
            <form action="/product/cart" method="post">
                <input type="hidden" name="productId" value="<%= prod.id %>">
                <label for="quantity">Cantidad:</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1" max="<%= prod.stock %>">
                <button class="boton-comprar" type="submit">Añadir al carrito</button>
            </form>
            <% if(admin){ %>
                <form action="/product/destroy/<%= prod.id %>?_method=DELETE" method="post">
                    <button class="boton-comprar" type="submit">ELIMINAR</button>
                </form>
                <% } %>
            
        </div>
    </div>
</body>
</html>