<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <h2 style="margin-left: 20px; margin-bottom: 0px;">Resultados de tu búsqueda: <%= parametro %></h2><br>
    <div>
        <% if (results == "") { %>
            <h3 style="text-align: center;">Lo sentimos :(</h3>
            <h3 style="text-align: center; font-weight: 100;">No sea han encontrado productos disponibles relacionados con tu búsqueda</h3>
        <% } %>
        <div class="productos">
        <% results.forEach(prod => { %>
            <article class="caja-producto">
                <picture class="foto-producto">
                    <img class="fotito"
                        src="/img/products/<%= prod.image %>"
                        alt="<%= prod.prod_name %>"

                    />
                </picture>

                <section class="descripcion-producto">
                    <section class="descripcion">
                        <p class="nombre_zapa"><%= prod.prod_name %></p>
                        <p class="precio">$ <%= prod.price %></p>
                        
                    </section>
                </section>
               <a href="/product/<%= prod.id %>/detail">
                    <button class="boton-comprar">
                        COMPRAR
                    </button>
               </a>
            </article>
            <% }) %>
        </div>
    </div>
</body>
</html>