<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <div class="pay-box">
    <h4>Nombre: <i><%= datos.nombre %></i> </h4> 
    <h4>Apellido: <i><%=datos.apellido %></i> </h4>
    <h4>Departamento: <i><%= datos.departamento %></i></h4>
    <h4>Domicilio: <i><%= datos.domicilio %></i> </h4> 
    <h4>Metodo de Pago: <i><%= datos.metododepago %></i></h4>
    <h4>Total: <%= datos.total %></h4>
</div>
    <%- include("../partials/footer") %>
</body>
</html>