<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <h4>Nombre: <%= datos.nombre %></h4>
    <h4>Apellido: <%= datos.apellido %></h4>
    <h4>Departamento: <%= datos.departamento %></h4>
    <h4>Domicilio:<%= datos.domicilio %> </h4>
    <h4>Metodo de Pago: <%= datos.metododepago %></h4>
    <h4>Total: <%= datos.total %></h4>

    <%- include("../partials/footer") %>
</body>
</html>